body{
  margin:0;
  font-family: 'Montserrat', sans-serif;
  text-align:center;
  }

.back-img{
  width:100%;
}

.btn_me{
  background-color:#FFDADA;
  display:block;
  margin:0 auto 30px;
}

.btn_me:hover{
  background-color:#FFF1F1;
}

.btn_shop{
  background-color:white;
  padding-left:2%;
  padding-right:2%;
}

.shop_link:hover{
  text-decoration:none;
}

.flowers{
  position:absolute;
  right:0;
  bottom:0;
  height:100%;
}

.fab{
  padding:3%;
  color:black;
}

.icons{
  width:7%;
  height:50px;
  padding:2px 30px 0;
}

.link{
  color:#C68B59;
}

.link:hover{
  text-decoration:none;
  color:#C68B59;
}

.mid{
  margin:auto;
  width:70%;
  color:white;
  font-size:1.5rem;
}

.middle_container{
  background-color:#B5EAEA;

}

.mid_1{
  width:40%;
  margin:25px auto;
  font-size:0.9rem;
  line-height:2;
}

.navbar{
  margin:0;
}

.navbar-brand{
  font-family: 'Sacramento', cursive;
  font-weight:bold;
  font-size:3rem;
  display:none;
  padding:0;
  margin:0 auto;
}

.nav-item{
  padding:2% 5%;
  margin:0 3%;
  font-weight:bold;
}

.navbar-nav{
  margin:auto;
}

.NV{
  font-family: 'Sacramento', cursive;
  font-size:5rem;
  font-weight: bold;
  padding-bottom:3%;
  margin-bottom:0;
  color:#343A40;
}

.Shop{
  position:relative;
  background-color:#CCF2F4;
  padding:0 15% 7%;
}

.Shop_1{
  font-family: 'Sacramento', cursive;
  font-weight:bold;
  margin-bottom:10px;
  padding:3%;
}

.Shop_para{
  width:50%;
  margin:auto auto 50px;
}

.top_container{
/*background:url("Amanda_Banner_NoDrop.png");*/
  height:100%;
}


.topflower{
  position:absolute;
  left:0;
  top:0;
  height:80%;
}

.welcome{
  width:30%;
  margin-top:50px;
  padding-bottom:30px;
}


.Youtube{
  position:relative;
padding:4%;
}


@media (max-width:1132px){
  .topflower{
    height:70%;
  }
}

@media (max-width:950px){
  .topflower{
    display:none;
  }
}

@media (max-width:635px){
  .flowers{
    display:none;
  }
}

@media (max-width:990px){
   .navbar-brand{
    display:inline;
   }

   .back-img{
     margin-top:40px;
   }
}
